:root {
    --primary-color: #4a5568;
    --secondary-color: #2d3748;
    --text-color: #ffffff;
    --border-color: #3b3b3f;
}

.tui-grid-header {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.tui-grid-cell {
    font-size: 15px;
    color: #333;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.tui-grid-cell.tui-grid-cell-has-focus {
    background-color: transparent;
    border-color: #df982e;
}

.tui-grid-cell.tui-grid-cell-invalid {
    background-color: transparent;
}

.tui-grid-cell.tui-grid-cell-has-focus .tui-grid-cell-content {
    color: #bf4005;
}

.tui-grid-check-input,
input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.tui-grid-row:hover {
    background-color: #f0f8ff;
    border-bottom-color: #007aff;
}

.tui-grid-cell.tui-grid-cell-row-header,
.tui-grid-cell.tui-grid-cell-header {
    background-color: #a6b0c4;
    color: #46464d;
    border-bottom: 1px solid var(--border-color);
}

.tui-grid-row {
    border-bottom: 1px solid #8f8f8f;
}

.tui-grid-cell-editable input {
    width: 100%;
    padding: 1px;
    box-sizing: border-box;
}

.toast {
    position: fixed;
    top: 1rem;
    right: 1rem;
    min-width: 200px;
    padding: 1rem;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast-success {
    background-color: #38a169;
}

.toast-warning {
    background-color: #dd6b20;
}

.toast-info {
    background-color: #3182ce;
}

.toast-error {
    background-color: #e53e3e;
}

#modal > div {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#modal h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#modal p {
    flex-grow: 1;
    overflow: auto;
}

#modal button {
    align-self: flex-end;
}

#offCanvas {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

#hamburgerButton {
    margin-right: 1rem;
}

#floatingNav button {
    transition: transform 0.2s ease;
}

#floatingNav button:hover {
    transform: scale(1.05);
}

#content {
    padding: 15px 15px 15px 40px;
    box-sizing: border-box;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

button {
    font-size: 15px;
}

input[type="text"],
input[type="date"] {
    padding: 5px;
    height: calc(1.5em + 6px);
}

@media (max-width: 1550px) {
    .flex-col {
        flex-direction: column;
    }
    .lg\:flex-row {
        flex-direction: row;
    }
    .lg\:mb-0 {
        margin-bottom: 0;
    }
    .lg\:space-y-0 {
        margin-bottom: 0;
    }
    .lg\:space-x-2 > * + * {
        margin-left: 0.5rem;
    }
    .flex-col > div {
        padding: 10px 0;
    }
}

.relative .fa-calendar-alt {
    pointer-events: none;
}